<!DOCTYPE html>
<html lang="en">
<head>
	<title>Formulario Registro</title>

	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1">

	<link rel="stylesheet" type="text/css" media="screen" href="static/misperris/css/estilos.css" />
	<link rel="stylesheet" href="static/misperris/css/menu.css">
	<link rel="stylesheet" href="static/misperris/css/fontello.css">

    <script src="static/misperris/js/jquery-3.3.1.min.js"></script>
    <script src="static/misperris/js/misfunciones.js"></script>

    <style>
	    body{
		    margin: 0px;
			padding: 0px;  
			font-family: 'Abel', sans-serif;
			background-image: url("static/misperris/img/fondo1.jpg");
		    background-repeat: no-repeat;
		    background-position: center;
		    background-size: cover;
	    }
    </style>

</head>
<body>
	<header>
		<div id="menu">
			<div class="Logo">
				<a href={% url 'index' %}><img src="static/misperris/img/logo.png" alt="logo_del_menu"></a>
			</div>
			<input type="checkbox" id="menu-bar">
			<label class="icon-menu" for="menu-bar"></label>
			<nav class="menu">
				<a href={% url 'index' %}>INICIO</a>
				<a href="#">QUIENES SOMOS</a>
				<a href="#">SERVICIOS</a>
				<a href={% url 'form' %}>REGISTRO</a>
			</nav>
		</div>
	</header>

<main role="main">
	<section class="content-form">
		<h2 class="sub-title">DATOS GENERALES</h2>
		<form action="#" method="POST" id="registrar-form" >
		  <h3 class="sub-form">Datos generales</h3>
			<div class="form-group width-12">
				<div class="width-6">
				  <input type="text" placeholder="Nombre Completo" class="form-control" name="nombre" id="nombre" /> 
				</div> 
				<div class="width-6">
				  <input type="text" placeholder="Rut / Ej: 11.111.111-1" class="form-control" name="rut" id="rut" pattern="[0-9]{1,2}.[0-9]{3}.[0-9]{3}-[0-9Kk]{1}" title="Debe ser un Rut válido"/> 
				</div>  
			</div>
			<div class="form-group">
				<div class="width-12">
				 	<input type="text" placeholder="Email" class="form-control" name="direccion" id="direccion" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"/>
				</div>
			</div>
			<div class="form-group width-12">
				<div class="width-6">
				  <input type="text" placeholder="Teléfono" class="form-control" name="telefono" id="telefono" /> 
				</div> 
				<div class="width-6">
				  <input type="number" placeholder="Edad" min="18" max="35" class="form-control" value="18" name="edad" id="edad" />
				</div>  
			</div>
			<div class="form-group width-12">
			 	<h3 class="sub-form">Region y Ciudad</h3>
                <select  id="regiones" ></select> <br><br>
                <select id="comunas" ></select> <br><br>
            </div>
			<div class="form-group width-12">
				<h3 class="sub-form">Tipo de Vivienda</h3>
	            <select name="vivienda" class="form-control">
                    <option selected> Casa con patio grande</option>
                    <option>Casa con patio pequeño</option>
                    <option>Casa sin patio</option>
                    <option>Departamento</option>
                </select>
			</div>
			<div class="form-group width-12">
				<h3 class="sub-form">Fecha de Nacimiento</h3>
				<input type="date" name="fecha" min="1901-06-01" max="2001-01-01" value="2001-01-01" step="1" class="form-control"/> 
			</div>
			<div class="form-group width-12">
			    <h3 class="sub-form">Algun Comentario</h3>
				<textarea cols="22" rows="10" class="form-control">
				    
				</textarea>
			</div>
			<div class="form-group width-12">
				<input type="submit" value="REGISTRAR" class="form-control btn btn-principal" id="btn-registrar"/>
			</div>
		</form>
	</section>
</main>
<footer>
	<div class="derechos">
		Desarrollo web y mobile | Israel Osorio 2018 
	</div>
</footer>
</body>
</html>