<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="static/misperris/css/style.css">
    <link rel="stylesheet" href="static/misperris/css/fontello.css">
    <link rel="stylesheet" href="static/misperris/css/menu.css">
    <link rel="stylesheet" href="static/misperris/css/banner.css">
    <link rel="stylesheet" href="static/misperris/css/info.css">
    <link rel="stylesheet" href="static/misperris/css/lightbox.min.css">
    <link rel="stylesheet" href="static/misperris/css/main.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <script src="static/misperris/js/jquery-3.3.1.min.js"></script>
    <script src="static/misperris/js/main.js"></script>
    <script src="static/misperris/js/lightbox-plus-jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</head>
<body>
   <header>
		<div id="menu">
			<div class="Logo">
				<a href={% url 'index' %}><img src="static/misperris/img/logo.png" alt="logo_del_menu"></a>
			</div>
			<input type="checkbox" id="menu-bar">
			<label class="icon-menu" for="menu-bar"></label>
			<nav class="menu">
				<a href={% url 'index' %}>INICIO</a>
				<a href="#">QUIENES SOMOS</a>
				<a href="#">SERVICIOS</a>
				<a href={% url 'form' %}>REGISTRO</a>
			</nav>
		</div>
	</header>
	
	<main>
		<section id="banner">
			<div class="img">
				<div class="atras botones">
					&lt;
				</div>
				<div class="adelante botones">
					&gt;
				</div>
				
				<img src="static/misperris/img/img0.png" alt="perritos">

			</div>
			
			<script src="static/misperris/js/main.js"></script>

			<div class="contenedor">
				<div class="numero"><h2>+56 9 98765431</h2></div>
				<div class="parrafo"><p>Rescate y adopción de perros callejeros</p></div>
				
				<div class="redes">
					<a href="#"><img src="static/misperris/img/email.png" alt="imagen_hotmail"></a>
					<a href="#"><img src="static/misperris/img/instagram.png" alt="imagen_instagram"></a>
					<a href="#"><img src="static/misperris/img/google.png" alt="imagen_google"></a>
					<a href="#"><img src="static/misperris/img/facebook.png" alt="imagen_facebook"></a>
				</div>
			</div>
		</section>
		
		<section id="info">
			<div class="columna1">
				<h2>RESCATE</h2>
				<h3>ETAPA UNO</h3>
				<hr><br>
				<p>Rescatamos perros en situación de peligro y/o abandono. Los rehabilitamos y los preparamos para buscarles un hogar.</p>
				<img src="static/misperris/img/rescate.jpg" alt="rescate">
			</div>
			<div class="columna2">
				<img src="static/misperris/img/crowfunding.jpg" alt="">
				<h2>CROWDFUNDING</h2>
				<h3>FINANCIAMIENTO</h3>
				<hr><br>
				<p>Sigue nuestras redes sociales para informarte acerca de las diversas campañas y actividades <br> que realizamos para obtener financiamiento para seguir ayudando.</p><br>
				<br>
				<div class="botonAmigo"><a href="#">CAMPAÑAS</a></div>
				
			</div>
		</section>

		<div class="Galeria">
	        <h1>Perros Rescatados por la fundacion</h1>
	        <a href="static/misperris/img/rescatados/Bigotes_tn.jpg" title="Bigotes es un perro de " data-lightbox="migalleria"><img src="static/misperris/img/rescatados/Bigotes.jpg" alt="perrito"></a>
	        <a href="static/misperris/img/rescatados/Chocolate_tn.jpg" data-lightbox="migalleria"><img src="static/misperris/img/rescatados/Chocolate.jpg" alt="perrito"></a>
	        <a href="static/misperris/img/rescatados/Luna_tn.jpg" data-lightbox="migalleria"><img src="static/misperris/img/rescatados/Luna.jpg" alt="perrito"></a>
	        <a href="static/misperris/img/rescatados/Maya_tn.jpg" data-lightbox="migalleria"><img src="static/misperris/img/rescatados/Maya.jpg" alt="perrito"></a>
	        <a href="static/misperris/img/rescatados/Oso_tn.jpg" data-lightbox="migalleria"><img src="static/misperris/img/rescatados/Oso.jpg" alt="perrito"></a>
	        <a href="static/misperris/img/rescatados/Pexel_tn.jpg" data-lightbox="migalleria"><img src="static/misperris/img/rescatados/Pexel.jpg" alt="perrito"></a> 
	        <a href="static/misperris/img/rescatados/Wifi_tn.jpg" data-lightbox="migalleria"><img src="static/misperris/img/rescatados/Wifi.jpg" alt="perrito"></a>
		</div>
	
	</main>

	
	<footer>
		<div class="final"><h4>Israel Osorio - Desarrollo web y mobile</h4></div>

		<div class="lof">
			<a href="#">QUIENES SOMOS |</a>
			<a href="#">SERVICIOS |</a>
			<a href="#">CONTÁCTANOS</a>
		</div>
	</footer>
</body>
</html>