@charset "utf-8";
/* CSS Document */

#banner{
	margin-top: 60px;
	position: relative;
	background: #6DCCAA;
}

#banner .img img{
	width: 700px;
	height: 300px;
	display: inline;
	margin: auto;
	display: block;
}

.botones {
	font-size: 30px;
	width: 70px;
	height: 70px;
	line-height: 70px;
	border-radius: 50%;
	background-color: rgba(0,0,0,0.7);
	text-align: center;
	font-weight: bold;
	position: absolute;
	color: #fff;
	box-shadow: 0 0 10px rgba(255,255,255,0.6);
	-webkit-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.botones:hover{
	cursor: pointer;
	transform: scale(1.2,1.2);
}
.atras{
	left: 2%;
	top: calc(50% - 70px);
}
.adelante{
	right: 2%;
	top: calc(50% - 70px);
}

#banner .contenedor{
	width: 100%;
	height: 70px;
	position: absolute;
	color: #fff;
	background: #6DCCAA;
	line-height: 70px;
}

#banner .contenedor .redes a img{
	height: 40px;
	width: 40px;
}

.numero{
	width: 25%;
}
.parrafo{
	width: 49.9%;
}
.redes{
	width: 25%;
}

.parrafo p{
	margin: auto;
	text-align: center;
	align-items: center;
	
}

#banner .contenedor .redes{
}

.contenedor > div{
	margin: 0px;
	float:left;
}