@charset "utf-8";
/* CSS Document */
*{
	box-sizing: border-box;
}

#info {
	margin-top: 100px;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

#info .columnas1, .columna2{
	margin: 15px 10px 10px 0;
	
}




#info .columna1 hr {
	height: 3px; width: 60px; background-color: black; margin: 7px; float: right
}
#info .columna2 hr {
	height: 3px; width: 60px; background-color: black; margin: 7px; float: left;
}

#info .columna1{
	width: 400px;
	text-align: right;
	padding-right: 40px;
}
#info .columna1 img{
	padding-top: 10px;
}


#info .columna2{
	width: 400px;
}
#info .columna2 img{
	height: 300px;
}
.botonAmigo a{
	color: black;
	font-size: 120%;
	padding: 5px;
	border: 5px solid black;
}