@charset "utf-8";
/* CSS Document */
#menu #menu-bar{
	display: none;
}

#menu label{
	float: right;
	font-size: 40px;
	margin: 6px 0;
	cursor: pointer;
	
}

header{
	background-color:#85D4B7;
	width: 100%;
	height: 60px;
	color: #fff;
	
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100;
}

header #menu .Logo{
	float:left;
}

header #menu .Logo a img{
	height: 45px;
	margin-top: 7px;
}

#menu{
	width: 98%;
	margin: auto;
	display: table;
}


#menu .menu{
	position: absolute;
	top: 60px;
	left: 0;
	width: 100%;
	height: 100vh;
	background: rgba(51,51,51,0.9);
	transition: all 0.5s;
	transform:  translateX(-100%);
	
}

#menu .menu a{
	display: block;
	color: #fff;
	height: 50px;
	text-decoration: none;
	padding: 15px;
	border-bottom: 1px solid rgba(255,255,255,0.3);
}

#menu .menu a:hover{
	background: rgba(255,255,255,0.3);
}

#menu #menu-bar:checked ~ .menu{
	transform: translateX(0%);
}

@media (min-width: 1024px){

	#menu .menu{
	position: absolute;
	top: 0px;
	left: 40%;
	width: 100%;
	height: 60px;
	background: rgba(51,51,51,0.0);
	transition: all 0.5s;
	transform:  translateX(0%);

	}
	.menu{
		position: static;
		width: auto;
		height: auto;
		transform: translateX(0%);
		float: right;
		display: flex;
	}

	header #menu label{
		display: none;
	}

	.menu a{
		border: none;
	}
}