
*{
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	border: none;
	outline: none;
	box-sizing: border-box;
}

header{
	background-color:#85D4B7;
	width: 100%;
	height: 60px;
	color: #fff;
	
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100;
}

header #menu .Logo{
	float:left;
}

header #menu .Logo a img{
	height: 45px;
	margin-top: 7px;
}

#menu{
	width: 98%;
	margin: auto;
	display: table;
}

section{
	width: 100;
	margin-bottom: 25px;
}

.Galeria{
    width: 100%;
    text-align: center;
    background: #6DCCAA;
}
.Galeria img{
    width: 240px;
    padding: 5px;
    transition: 1s;
    filter: grayscale(100%)
}
.Galeria img:hover{
    filter: grayscale(0%);
    transform: scale(1.1);
}

footer{
	background-color: #bbb;
	height: 100px;
	text-align: center;
	color: black;
}
footer h4{
	padding-top: 15px;
}


.final{
	width: 49.9%;
	text-align: end;
}
.lof{
	width: 49.9%;
	padding: 15px;
	text-align: start;
	
}

.lof a{
	text-decoration: none;
	color: black;
	font-size: 80%;
}

footer > div{
	margin: 0px;
	float:left;
}



